.section
  .container
    .columns.is-centered
      .column.is-half
        .title.is-2
          Edit #{resource_name.to_s.humanize}

        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'box' }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            %label.label
              Email
            .control
              = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input'

          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}

          .field
            %label.label
              Password
            %p.help
              (leave blank if you don't want to change it)
            .control
              = f.password_field :password, autocomplete: 'new-password', class: 'input'
              - if @minimum_password_length
                %br/
                %em
                  = @minimum_password_length
                  characters minimum

          .field
            %label.label
              Password Confirmation
            .control
              = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input'

          .field
            %label.label
              Current Password
            %p.help
              (we need your current password to confirm your changes)
            .control
              = f.password_field :current_password, autocomplete: 'current-password', class: 'input'

          .actions
            .control
              = f.submit 'Update', class: 'button is-primary'

        .title.is-3 Cancel my account

        .content
          Unhappy?
          = button_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?' }, method: :delete, class: 'button is-danger is-outlined'

        = link_to 'Back', :back, class: 'button'
